*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/*image is of a cherry blossom tree branch done in a cartoon style with a sky backgound*/
body{
    background:url('http://www.freeppt.net/background/april-weather-backgrounds-for-powerpoint.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    overflow:hidden;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: "MuseoModerno", sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h1 {
    color: blue;
    
}

#input {
   font-size: 15px;
   padding: 5px 10px;
   outline: none;
   border: none;
   border-radius: 15px; 
   background: rgb(163, 249, 245);
}
 #search {
    background: rgb(236, 188, 214);
    padding: 2px 20px;
    outline: none;
    font-size: 15px;
    border-radius: 15px;
    cursor: pointer;
    border: none;
 }





